h1 {
  color: blue;
  font-family: 'Times New Roman', Times, serif;
}

#container {
  display: flex;
  border: 1px solid pink;
}

#content {
  display: flex;
  margin: 50px 50px 50px 50px;
  border: 1px solid green;
  width: 80%;

}